body {
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

header {
  background-color: rgb(90, 90, 90);
  display: flex;
  flex-direction: space-around;
  height: 80px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 5%;
}

header *{
  display: flex;
  margin-left: 21%;
}

ul {
  margin: 10px;
  width: 100%;
}

li {
  padding: 20px;
  margin-left: 2%;
  margin-right: 5%;
  color: lightgrey;
}

main {
  width: 960px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

section:nth-child(2) * {
  padding-top: 20px;
  padding-bottom: 20px;
}

section:nth-child(2) img:nth-child(1) {
  padding-right: 25px;
}

section:nth-child(2) img:nth-child(3) {
  padding-left: 25px;
}

section:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: black;
  color: white;
}

footer {
  height: 80px;
  background-color: rgb(90, 90, 90);
  margin-top: 30px;
}

article {
  margin-left: 25px;
}

button {
  font-size: 1.1em;
  margin-top: 40%;
  width: 170px;
}